 
    {% extends 'finance/financemain.html.twig' %}

    {% block body %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.saldo) }}
            <br/>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        {{ form_end(form) }}
         <br/>
    {% endblock %}    
    